.cards {
padding-top: 20px;
display: grid;
gap: 20px;
} 

.cards__list {
 list-style-type: none;
 padding: 0;
 margin: 0;
 display: grid;
 grid-template-columns: repeat(auto-fit,413px);
 justify-content: center;
 gap: 40px 20px;
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 413px);
  }
}

@media screen and (max-width: 627px) {
   .cards__list {
    grid-template-columns: repeat(1, 288px );
   } 
}