.cards {
  padding: 20px 0 40px;
  border-bottom: 1px solid #21212166;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  gap: 40px 20px;
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 413px);
  }
}

@media screen and (max-width: 627px) {
  .cards__list {
    row-gap: 20px;
    grid-template-columns: repeat(1, 288px);
  }
}
