.footer {
 margin-top: 60px;
 margin-bottom: 60px;
 text-align: center;
 padding-left: 20px;
 padding-right: 20px;
}

.footer__copyright {
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #212121B2;
    text-align: center;
}