.modal {
padding: 0 10px;
opacity: 0;
visibility: hidden;
transition: opacity 0.3s ease, visibility 0.3s ease;
background-color: #00000080;
position: fixed;
top: 0;
 right: 0;
 bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
width: 100%;
max-width: 730px;
border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
box-sizing: border-box;
}

.modal__close-btn {
opacity: 1;
position: absolute;
top: 32px;
right: 50px;
width: 40px;
height: 40px;
background: transparent;
border: none;
cursor: pointer;
transition: opacity 0.2s ease;
background-image: url(../images/close.svg);
background-repeat: no-repeat;
background-position: center;
}

.modal__close-btn:hover {
  opacity: 0.6;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: rgba(252, 245, 229, 1);
}


.modal__form {
 display: flex;
 flex-direction: column;
}

.modal__label {
 margin: 0 0 32px;
}

.modal__input {
 display: block;
 margin: 8px 0 0;
 border: 1px solid #ccc;
 padding: 16px 12px 16px;
 width: 100%;
 box-sizing: border-box;
 font-size: 20px;
 line-height: 1;
}

.modal__input::placeholder {
 color: #2121214d;
}

.modal__submit-btn {
 width: 100%;
 max-width: 156px;
 padding: 18px 0;
 border-radius: 8px;
 background-color: #212121;
 color: #fff;
 border: none;
 cursor: pointer;
 font-family: "Poppins", Arial, sans-serif;
 font-weight: 500;
 font-size: 16px;
 gap: 8px;
}

.modal__submit-btn:hover {
 background-color: #000000;
}

@media screen and (max-width: 627px) {
    .modal__container {
        padding: 22px 12px 12px;
    }
    
    .modal__close-btn {
        top: 12px;
        right: 12px;
    }
    
    .modal__submit-btn {
        width: 100%;
        max-width: 100%;
    }
}

   .modal__input {
        font-size: 16px;
    }
    
    .modal__title {
        font-size: 18px;
    }
