.modal {
visibility: hidden;
background-color: #00000080;
position: fixed;
top: 0;
 right: 0;
 bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
width: 630px;
border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
box-sizing: border-box;
}

.modal__close-btn {
position: absolute;
top: 32px;
right: 50px;
width: 40px;
height: 40px;
background: transparent;
border: none;
cursor: pointer;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
width: 630px;
border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
box-sizing: border-box;
}

.modal__close-btn {
position: absolute;
top: 32px;
right: 50px;
width: 40px;
height: 40px;
background: transparent;
border: none;
cursor: pointer;
}


.modal__title {
 margin: 0 0 32px;
}

.modal__form {
 display: flex;
 flex-direction: column;
}

.modal__label {
 margin: 0 0 32px;
}

.modal__input {
 display: block;
 margin: 8px 0 0;
 margin: 8px 0 0;
 border: 1px solid #ccc;
 padding: 10px;
}

.modal__input::placeholder {
 color: #2121214d;
}

.modal__submit-btn {
 width: 100%;
 max-width: 156px;
 height: 52px;
 border-radius: 8px;
 background-color: #212121;
 color: #fff;
 border: none;
 cursor: pointer;
 font-family: 'Poppins, sans-serif';
 font-weight: 500;
 font-size: 16px;
 top: 18px;
 right: 32px;
 gap: 8px;
 bottom: 18px;
 left: 32px;
}


.modal__title {
 margin: 0 0 32px;
}

.modal__form {
 display: flex;
 flex-direction: column;
}

.modal__label {
 margin: 0 0 32px;
}

.modal__input {
 display: block;
 margin: 8px 0 0;
}

.modal__input::placeholder {
 color: #2121214d;
}

.modal__submit-btn {
 width: 100%;
 max-width: 156px;
 height: 52px;
 border-radius: 8px;
 top: 18px;
 right: 32px;
 gap: 8px;
 bottom: 18px;
 left: 32px;
 color: white;
 border: none;
}

@media screen and (max-width: 627px) {
    .modal__submit-btn {
        width: 100%;
        max-width: 100%;
    }
}