.page {
background-color: #FCF5E5;
min-height: 100vh;
font-family: Poppins, Arial, Helvetica, sans-serif;
}

.content {
 padding: 0 20px;
}

@media (max-width: 627px) {
.content {
padding: 0 16px;
    }
}

.page__section {
 max-width: 1280px;
 margin: 0 auto;
}



