.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin: 0 20px 0 0;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.profile__description {
  margin: 0;
  color: #212121b2;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
}

.profile__edit-btn {
  background-color: transparent;
  color: #212121;
  padding: 0;
  opacity: 0.7;
  margin-top: auto;
  gap: 8px;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  border: none;
  font-weight: 500;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5ef;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  display: flex;
  gap: 8px;
  white-space: nowrap;
  width: 157px;
  height: 52px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fcf5fc;
  align-self: end;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 280px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    width: 80px;
    height: 80px;
    margin: 0 0 32px 0;
  }

  .profile__add-btn {
    margin-left: 0;
    align-self: center;
    width: 288px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

}

.profile__add-btn:hover {
  opacity: 0.8;
}